<div fxLayout='row' class="zero">
  <div fxFlex="27"  class="one" >
    <form [formGroup]="cardForm" class="example-form" (ngSubmit)="onCardSubmit()">
      <!-- <mat-form-field class="example-full-width"> -->
        <input #url matInput formControlName="URL" placeholder="Enter post url" value="url">
      <!--</mat-form-field> -->
      <button mat-button>SAVE</button>
      <button mat-button type="button" (click)="onLoad(url.value)">LOAD</button>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + _card.pro_pic + ')'}"></div>
        <mat-card-title>{{_card.full_name}}</mat-card-title>
        <mat-card-subtitle>{{_card.date * 1000 | date:'d MMM yyyy'}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="_card.post_pic" alt="Post photo">
      <mat-card-content>
        <p class="caption">{{_card.caption}}</p>
      </mat-card-content>
      <mat-card-actions>
        <i class="far fa-heart fa-lg"></i>{{_card.likes}}
        <i class="far fa-comment fa-lg"></i>{{_card.comments}}
        <i class="fab fa-instagram fa-lg" style="float:right"></i>
      </mat-card-actions>
    </mat-card>
    </form>
  </div>

  <div fxFlex="73" class="two" fxLayout="row wrap" fxLayoutAlign="left top" fxLayoutGap="10px">
    <div *ngFor="let cards of allCards" >
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="cards.$key">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + cards.pro_pic + ')'}"></div>
              <mat-card-title>{{cards.full_name}}</mat-card-title>
              <mat-card-subtitle>{{cards.date * 1000 | date:'d MMM yyyy'}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="cards.post_pic" alt="Post photo">
            <mat-card-content>
              <p class="caption">{{cards.caption}}</p>
            </mat-card-content>
            <mat-card-actions>
              <i class="far fa-heart fa-lg"></i>{{cards.likes}}
              <i class="far fa-comment fa-lg"></i>{{cards.comments}}
              <button mat-button type="button" (click)="deleteCard(cards.$key)">DELETE</button>
              <i class="fab fa-instagram fa-lg" style="float:right"></i>
            </mat-card-actions>
          </mat-card>

    </div>
  </div>
</div>