.example-card {
    max-width: 350px;
    margin-bottom: 10px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }

  .caption{
    border-bottom:1px gray solid; 
    border-bottom-style: inset; 
    padding-bottom:20px
   }